body {
  overflow-x: hidden
}

h2{
  font-size: 20px;
  color: #fff;
  font-family: 'Brush Script Std', cursive;
}

.container {
  display: flex;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: space-between;
  grid-row-gap: 5px;
  grid-column-gap: 0%;
  margin: 1100px 40px 40px 500px;
  width:80%;
}

.charbild{
  max-width: 135%;
  width: 300px;
  height: 300px;
  background-position: 20% 20% 20% 20% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-bottom: 1px solid #fff;
}

.character {
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  background-color: grey;
  color: #fff;
}
.character:hover{
  background-color: #fff;
  color: black;
}
 .sektion {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 915px;
}

.sektion h1{
  width: 50%;
  border-style: solid;
  text-align: center;
  font-size: 7rem;
  font-family: 'American Typewriter', serif;
  background: #fff;
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@media (min-aspect-ratio:16/9){
  .video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .video{
    width: auto;
    height: 100%;
  }
}

@media (max-width: 100px){
  .video{
    background: url('vatten.mp4') center center / cover no-repeat;
  }

  .video{
    display: none;
  }
}

.info {
  padding: 100em;
}

.bild {
  position: absolute;
  display: inline-block;
  top: 500px;
  left: 1850px;
}

.text {
  color: #fff;
  position: absolute;
  font-size: 29.8px;
  background-color: rgba(0,0,0,0.5);
  top: 487px;
  left: 550px;
  width: 1290px;
}
