* {
  margin: 0;
  padding: 0;
    overflow-x: hidden;
}

.bild1 {
  border-radius: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
}

.bild3 {
  display: block;
  margin-left: 0px;
}

.bild {
  display: block;
  margin-right: 0px;
  margin-top: 7px;
}

.bild9 {
  display: block;
  margin-top: -400px;
  margin-left: 190px;
}

.p {
  display: block;
  font-size: 15px;
  font-family: fantasy;
}

.Person1 {
  font-size: 50px;
  color: #000;
  font-family: sans-serif;
}

.Person2 {
  margin-right: -300px;
  font-size: 50px;
  color: #000;
  font-family: sans-serif;
}

.Skrift {
  font-size: 30PX;
  color: #000;
  font-family: monospace;
}

.footdiv {
  border-style: double;
  border-color: #000;
}

.sidebarp {
  font-family: courier, monospace;
  font-size: 30px;
}

.container {
  z-index: -1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 400px 400px 350px;
  grid-template-areas:
   "title title"
   "header header"
   "sidebar content"
   "footer footer";
}

.title {
 background-color: green;
 grid-area: title;
 z-index: 1;
}

.header {
  display: grid;
  grid-gap: 20px;
  color: blue;
 background-color: #000;
 grid-area: header;
 z-index: 0;
 grid-template-columns: auto auto auto;
 padding: 10px;
}

.sidebar {
 background-color: gray;
 grid-area: sidebar;
}

.content {
 background-color: #d2d5d9;
 grid-area: content;
}

.footer {
 background-color: #d2d5d9;
 grid-area: footer;
 display: grid;
 grid-gap: 20px;
 color: blue;
 z-index: 0;
 grid-template-columns: auto auto;
 padding: 10px;
}

@media and screen(500px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 400px 400px 350px;
    grid-template-areas:
     "title title"
     "header header"
     "sidebar content"
     "footer footer";
  }

}

.låda {
    border-radius: 10%;
  font-size: 250%;
  text-align: center;
  color: #000;
  border-style: groove;
  height: 90px;
  background-color: #fff;
}

.låda:hover {
  background-color: grey;
}
