body {
  background-color: darkgrey;
  overflow-x: hidden
}

h2{
  font-size: 20px;
  color: #fff;
  font-family: 'Brush Script Std', cursive;
}

.container {
  display: flex;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: space-between;
  grid-column-gap: 5px;
  grid-column-gap: 1%;
  margin: 500px 10px 10px 10px;
  width:30.4%;
}

.charbild{
  width: 1250px;
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-bottom: 1px solid #fff;
}

.character {
  width: 1000%;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  background-color: grey;
  color: #fff;
}
.character:hover{
  background-color: #fff;
  color: black;
}
 .sektion {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 570px;
}

.sektion h1{
  width: 50%;
  border-style: solid;
  text-align: center;
  font-size: 7rem;
  font-family: 'American Typewriter', serif;
  background: #fff;
}
