body {
  overflow-x: hidden
} // takes away the x-scrolling-thingie from the bottom so you cant scroll to the side

h2{
  font-size: 20px;
  color: #fff;
  font-family: 'Brush Script Std', cursive;
} // makes the font nice with size, color and what font-style we should use

.container {
  display: flex; // makes the flexable item flex to its capability. Only works if item is flexable
  grid-template-columns: repeat(auto-fit, 100px); // changes the fit for the grid-boxes. It should repeat to the style set (y and x axis kinda)
  justify-content: space-between; // it makes the item flex to the max if they not already  have
  grid-row-gap: 10px;
  grid-column-gap: 1%;
  margin: 1100px 40px 40px 5px;
  width:95.4%;
} // the rest just changes where the grid-system is placed the gap up and down from each box

.charbild{
  max-width: 100%; makes the width not able to expand more than one hundred percent
  width: 500px;
  height: 300ppx;
  border-bottom: 1px solid #fff; // changes size and color of border
}

.character {
  width: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
  background-color: grey;
  color: #fff;
}
 .sektion {
  position: absolute; // positions the div relative to previous element
  width: 100%;
  top: 10px;
  left: 570;
}

.sektion h1{
  width: 50%;
  border-style: solid;
  text-align: center;
  font-size: 7rem;
  font-family: 'American Typewriter', serif;
  background: #fff;
} //positions the text, changes width and makes some font changes

.video-container {
  position: fixed; //
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

@media (min-aspect-ratio:16/9){
  .video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .video{
    width: auto;
    height: 100%;
  }
}

@media (max-width: 100px){
  .video{
    background: url('vatten.mp4') center center / cover no-repeat;
  }

  .video{
    display: none;
  }
}

.info {
  padding: 100em;
}

.bild {
  position: absolute;
  display: inline-block;
  top: 500px;
  left: 1910px;
}

.text {
  color: #fff;
  position: absolute;
  font-size: 35.31px;
  background-color: rgba(0,0,0,0.5);
  top: 482px;
  left: 5px;
  width: 1900px;
}
